@{
    ViewBag.Title = "Kontakt";
}
<div align="center">
    <h2>@ViewBag.Title</h2>


    <address>
        Przychodnia Medica<br />
        Wincentego Pola 1, Rzeszów<br />
        Godziny otwarcia:<br />
        pon-pt 8:00 - 18:00<br />
        <abbr title="Telefon">Tel:</abbr>
        123 456 789
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</div>