
<div class="jumbotron">
    <h1>Przychodnia Medica</h1>
    <p class="lead"> Jesteśmy najlepszą przychodnią w kraju. Pracują u nas najlepsi specjaliści w branży medycznej.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">O nas &raquo;</a></p>
</div>

